body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.navbar {
  background-color: #333;
  min-height: 120px;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px; /* Tamaño de fuente para los enlaces */
  transition: color 0.3s; /* Transición de color suave al pasar el cursor */
}

.navbar a:hover {
  color: #ffcc00; /* Cambia de color al pasar el cursor */
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar {
    padding: 5px 0;
  }

  .navbar a {
    font-size: 14px;
  }
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffcc00; /* Cambia de color al pasar el cursor */
}

.fa-lock,
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-info-circle {
  font-size: 20px;
  margin-right: 5px;
}
/* Estilos para el contenido principal */
.main-content {
  margin: 20px 0; /* Agrega margen en la parte superior e inferior */
}

.barco-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  max-height: 500px; /* Altura máxima antes de mostrar barras de desplazamiento vertical */
  overflow-y: auto;
}

.barco-card {
  display: grid;
  width: 200px;
  background-color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.barco-card img {
  max-width: 100%;
  height: auto;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .barco-list {
    margin: 10px; /* Ajusta el margen para dispositivos móviles */
  }

  .barco-card {
    width: 100%; /* Establece el ancho al 100% para ocupar todo el ancho de la pantalla */
  }
}


/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #007bff;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #33333336;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* styles.css (o tu archivo CSS principal) */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
/* Estilos para la content-container (contenedor de contenido dinámico) */
.detalle-container {
  background-color: #77788641;
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  margin: 20px; /* Márgenes exteriores */
  overflow-y: auto;
  
}
.detalle-container h2 {
  font-size: 24px; /* Tamaño de fuente para el encabezado */
  color: #ffffff; /* Color del texto del encabezado */
  margin-bottom: 10px; /* Espaciado inferior */
}
/* Estilos para el formulario de filtrado */
.search-bar {
  margin: 20px auto; /* Ajusta la propiedad 'auto' en 'margin' para centrar horizontalmente */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Cambia a 'center' para centrar los elementos internos */
}

#filter-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

#filter-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#filter-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

#filter-form button:hover {
  background-color: #0056b3;
}
/* Estilo para el botón de Volver */
#volver-button {
  position: relative;
  top: 10px;
  padding: 10px 10px;
  background-color: #077ff0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Espaciado inferior */
}

#volver-button:hover {
  background-color: #0058a0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide en tres columnas iguales */
  gap: 10px; /* Espacio entre los contenedores */
  margin-top: 20px; /* Espacio desde el título */
  height: 600px; /* o un tamaño específico que se adapte a tus necesidades */
  overflow-y: auto;}

/* Estilos para los elementos del grid */
.grid-item {
  background-color: #77788641;
  color: #fff;
  grid-template-columns: 1fr 1fr; /* Dos columnas, una para el dial y otra para la temperatura */
  gap: 10px; /* Espacio entre las columnas */
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  align-items: start; /* Alinea los elementos en la parte superior del grid-item */
  display: grid;
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .detalle-container {
    margin: 10px; /* Ajusta el margen para dispositivos móviles */
    padding: 10px; /* Ajusta el relleno para dispositivos móviles */
  }

  .grid-container {
    grid-template-columns: 1fr; /* Cambia a una columna para dispositivos móviles */
  }
}
/* Estilos para el encabezado del grid */
.grid-header {
  background-color: #333; /* Color de fondo para el encabezado */
  color: #fff; /* Color del texto del encabezado */
  padding: 10px; /* Espaciado interno del encabezado */
  text-align: center; /* Centrar el texto */
  font-size: 1.5rem; /* Tamaño de la fuente del encabezado */
  margin-bottom: 10px; /* Espaciado inferior */
  border-radius: 5px; /* Bordes redondeados */
  grid-column: span 2; /* El header ocupa las dos columnas */

}
/* Estilos para el contenedor de los botones de acción */
.button-container {
  text-align: center;
  margin-top: 10px;
}
/* Estilos para el dial y su contenedor */
.dial-container {
  width: 100%;
  max-width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;

  /* Agregar sombras */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */

  /* Agregar color de fondo */
  background-color: #33333360; /* Cambia el color según tus preferencias */
}


.dial {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}

.pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%) rotate(0deg);
  width: 2px;
  height: 60px;
  background: linear-gradient(to bottom, #ff8080, #ff0000); /* Fondo gradiente rojo */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Sombra roja */

  transition: transform 0.5s ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */

  /* Añadir círculo en el origen del puntero */
  &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.2)); /* Fondo gradiente radial rojo */
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Sombra roja */
  }
}

.temperature-indicator {
  fill: #f0f0f0; /* Color del indicador */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Sombra */
  /* Agregar iluminación (puedes ajustar los valores según tus preferencias) */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.7);
}


.data-display {
  background-color: #33333360;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center; /* Alinea el texto al centro */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para el contenedor principal del termómetro */
.termometro-container {
  width: 100%;
  max-width: 150px; /* Fijar el ancho máximo a 150px */
  height: 100%; /* Utiliza toda la altura disponible */
  margin: 0 auto; /* Centrar el contenedor en la página */
  
  /* Agregar sombras */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */

  /* Agregar color de fondo */
  background-color: #33333360; /* Cambia el color según tus preferencias */

}

/* Estilo para el termómetro SVG */
.termometro {
  width: 100%;
  height: 100%;
}

/* Estilo para el rectángulo principal del termómetro */
.termometro rect {
  /* Mantener proporciones y centrar el termómetro */
  width: 20%;
}

/* Estilo para el triángulo superior del termómetro */
.termometro polygon {
  fill: none;
}

/* Estilo para el indicador de temperatura */
.termometro rect:last-child {
  fill: #ff0000; /* Puedes ajustar el color según la temperatura */
}
.temperature-indicator {
  transition: height 0.5s ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
}

/* Estilos para los botones de acción */
.chart-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chart-button:hover {
  background-color: #0056b3;
}

/* CSS */
.button-proceso{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-proceso::after,
.button-proceso::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-proceso:before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #007bff;
  border-radius: 10px;
}

.button-proceso::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #33333336;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-proceso:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-proceso:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-proceso:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
#imagen-container {
  position: relative;
  width: 500px;
  height: 100px;
  margin-left: 40px;
  transition: margin-bottom 0.3s;
  /* Agregado para una transición suave al cambiar el espacio */
}

#imagen-container:hover {
  border-color: #333;
  margin-bottom: 20px;
  /* Ajusta el espacio cuando se pasa el ratón sobre el contenedor */
}