body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-attachment: fixed;
    display: grid; /* Aplicar un layout de cuadrícula al cuerpo */
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; /* Auto-template grid */
}


.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; /* Tamaño de fuente para los enlaces */
    transition: color 0.3s; /* Transición de color suave al pasar el cursor */
}

.navbar a:hover {
    color: #ffcc00; /* Cambia de color al pasar el cursor */
}


/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffcc00; /* Cambia de color al pasar el cursor */
}

.fa-lock,
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-info-circle {
    font-size: 20px;
    margin-right: 5px;
}
/* Estilos para el contenido principal */
.main-content {
    margin: 20px 0; /* Agrega margen en la parte superior e inferior */
}
.barco-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    max-height: 500px; /* Altura máxima antes de mostrar barras de desplazamiento vertical */
    overflow-y: auto;
}

.barco-card {
    display: grid;
    width: 200px;
    background-color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.barco-card img {
    max-width: 100%;
    height: auto;
}


/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #007BFF;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #33333336;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* styles.css (o tu archivo CSS principal) */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  /* Estilos para la content-container (contenedor de contenido dinámico) */
.detalle-container {
    background-color: #36373f;
    color: #fff;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    margin: 20px; /* Márgenes exteriores */
  }
  .detalle-container h2 {
    font-size: 24px; /* Tamaño de fuente para el encabezado */
    color: #ffffff; /* Color del texto del encabezado */
    margin-bottom: 10px; /* Espaciado inferior */
}
/* Estilos para el formulario de filtrado */
.search-bar {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }
  
  #filter-form {
    margin-left:200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  #filter-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #filter-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #filter-form button:hover {
    background-color: #0056b3;
  }
  