body {
  background-color: #222121;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
/* Establece un contenedor que dividirá el sidebar y el content-container */

h1 {
  text-align: center;
}

.navbar {
  background-image: url("../fotos/side.jpg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  padding: 10px 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Utiliza grid para dividir la barra de navegación en dos partes */
  justify-items: center; /* Centra horizontalmente los elementos de la barra de navegación */
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  cursor: pointer;
  color: #ffcc00;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  margin-left: 30px; /* Ajusta el espacio a tu preferencia */
  margin-right: 10px; /* Ajusta el espacio a tu preferencia */
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.page-description {
    display: grid;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.description-text {
    flex: 1;
    padding: 20px;
}

.description-text h2 {  
    font-size: 24px;
    color: #ffffff;
}

.description-text p {
    font-size: 16px;
    color: #ffffff;
}

.description-image {
    flex: 1;
    text-align: center;
}

.description-image img {
    max-width: 60%;
    height: auto;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr; /* Una sola columna en pantallas más pequeñas */
  }
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

/* Estilos para el contenido principal */
.main-content {
  margin: 20px 0;
}

.sidebar {
  position: relative;
  background-image: url("../fotos/side.jpg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  width: 200px;
  height: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1f;
}

/* Resto de tus estilos CSS aquí */

.menu {
  padding: 20px;
}

.menu h2 {
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu ul {
  list-style: square;
  padding: 20;
}

.menu-item {
  cursor: pointer;
  margin: 30px 0;
  font-size: 16px;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #ffcc00;
}

/* Estilos para el contenido de los menús */
.menu-content {
  display: none;
  padding: 20px;
  background-color: transparent; /* Fondo transparente */
  color: #fff;
}

.menu-content.active {
  display: block;
}

/* Estilos para la content-container (contenedor de contenido dinámico) */
.content-container {
  background-color: #222121;
  color: #fff;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  padding: 20px;
  grid-template-columns: 250px 1fr; /* Sidebar y contenido principal ocupan columnas */
}
.main-content {
  background-image: url("../fotos/side.jpg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #33333379;
  color: #fff;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  padding: 20px;
}

/* Estilos para el formulario */
#crear-usuario-form {
  display: none; /* Ocultar el formulario por defecto */
}

#usuario-form {
  background-color: #7777778e;
  padding: 20px;
  border-radius: 5px;
}

#usuario-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#usuario-form input[type="text"],
#usuario-form input[type="password"],
#usuario-form input[type="email"] {
  width: 60%;
  padding: 10px;
  margin: 5px 0; /* Agregamos un margen vertical de 5px y ningún margen horizontal */
  border: 1px solid #777;
  border-radius: 3px;
}

#usuario-form select {
  width: 20%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #777;
  border-radius: 3px;
}

#usuario-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#usuario-form button:hover {
  background-color: #0056b3;
}
/* Estilo para la sección de imágenes */
#imagen-preview {
  margin-top: 16px;
  text-align: center;
}

#imagen-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 8px;
}

/* Agrega un estilo para el icono por defecto */
#imagen-preview .default-icon {
  font-size: 24px;
  color: #ccc;
  margin-top: 8px;
}

/* Estilo para el formulario de barco */
#crear-barco-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #77777786;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#barco-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para los botones */
button {
  background-color: #3498db; /* Azul */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
}


/* Estilos para la tabla de usuarios */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.user-table th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:nth-child(odd) {
  background-color: #fff;
}

.user-table tr:hover {
  background-color: #333;
  color: #fff;
}

/* Estilo para la tabla: Hover */
.user-table tr:hover td {
  background-color: #333;
  color: #fff;
}

.user-table-content {
  max-height: 600px; /* Establece la altura máxima que desees */
  overflow-y: auto; /* Activa la barra de desplazamiento vertical si es necesario */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado de la tabla (opcional) */
.user-table-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.user-table-header th {
  padding: 12px;
  border: 1px solid #ccc;
}

.user-table-header th:last-child {
  border-right: none;
}

/* Estilos para el pie de la tabla (opcional) */
.user-table-footer {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.user-table-footer td {
  padding: 12px;
  border: 1px solid #ccc;
}

.user-table-footer td:last-child {
  border-right: none;
}
/* Estilos para la tabla de barcos */
.barco-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.barco-table th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.barco-table th,
.barco-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
}

.barco-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.barco-table tr:nth-child(odd) {
  background-color: #fff;
}

.barco-table tr:hover {
  background-color: #333;
  color: #fff;
}

/* Estilo para la tabla: Hover */
.barco-table tr:hover td {
  background-color: #333;
  color: #fff;
}

.barco-table-content {
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado de la tabla (opcional) */
.barco-table-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.barco-table-header th {
  padding: 12px;
  border: 1px solid #ccc;
}

.barco-table-header th:last-child {
  border-right: none;
}

/* Estilos para el pie de la tabla (opcional) */
.barco-table-footer {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.barco-table-footer td {
  padding: 12px;
  border: 1px solid #ccc;
}

.barco-table-footer td:last-child {
  border-right: none;
}

/* Estilos para la imagen del barco en la tabla */
.barco-table img {
  max-width: 100px; /* Ajusta el ancho máximo según tus preferencias */
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos generales para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Asegura que el modal esté en la parte superior */
  overflow: auto; /* Permite el desplazamiento si el contenido del modal es largo */
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto; /* Centra verticalmente y ajusta el margen lateral */
  padding: 20px;
  border-radius: 5px;
  width: 60%; /* Ajusta el ancho del modal según tus preferencias */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Estilos para el título del modal */
.modal-content h2 {
  font-size: 24px;
  color: #333; /* Color del título */
  margin-bottom: 20px; /* Agrega espacio entre el título y el contenido */
}

/* Estilos para el formulario dentro del modal */
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente en el formulario */
  gap: 10px; /* Espacio entre los elementos */
}

/* Estilos para los campos del formulario */
.modal-content form label {
  font-weight: bold;
  color: #333; /* Color del texto de etiqueta */
  text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"]{
  width: 60%;
  padding: 10px;
  margin: 5px 0; /* Agregamos un margen vertical de 5px y ningún margen horizontal */
  border: 1px solid #777;
  border-radius: 3px;
}
.modal-content select {
  width: 20%; /* Asegura que los campos ocupen todo el ancho disponible */
  padding: 10px;
  margin-bottom: 10px; /* Agrega espacio entre los campos */
  border: 1px solid #ccc; /* Borde alrededor de los campos */
  border-radius: 5px; /* Esquinas redondeadas */
  background-color: #f5f5f5; /* Fondo de los campos */
  color: #333; /* Color del texto en los campos */
}

/* Estilos para el botón de guardar cambios */
.modal-content button[type="submit"] {
  background-color: #007BFF; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Agrega otros estilos según tus preferencias */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

.close:hover {
  color: #000; /* Cambia el color al pasar el mouse */
}

/* Estilo adicional para la apariencia del modal */
/* ... */

/* Estilos para ocultar los modales por defecto */
#editarModal,
#eliminarModal {
  display: none;
}
/* Estilos para el modal de eliminación */
#eliminarModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
}

#eliminarModal .modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#eliminarModal h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#eliminarModal p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

#confirmarEliminar {
  background-color: #FF0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#confirmarEliminar:hover {
  background-color: #CC0000;
}

#eliminarModal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

#eliminarModal .close:hover {
  color: #000;
}

/* Estilos para los botones de Editar y Eliminar */

.editar-button {
  background-color: #3498db;
}
.eliminar-button {
  background-color: #c51930;
}
.editar-button:hover{
  background-color: #2980b9;
}
.eliminar-button:hover {
  background-color: rgb(129, 13, 29);
}

.editar-barco-button {
  background-color: #3498db;
}
.eliminar-barco-button {
  background-color: #c51930;
}
.editar-barco-button:hover{
  background-color: #2980b9;
}
.eliminar-barco-button:hover {
  background-color: rgb(129, 13, 29);
}
#edit-imagen-preview {
  margin-top: 16px;
  text-align: center;
}

#edit-imagen-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 8px;
}

/* Agrega un estilo para el icono por defecto */
#edit-imagen-preview .default-icon {
  font-size: 24px;
  color: #ccc;
  margin-top: 8px;
}

/*ESTILOS VARIABLES*/
#crear-variable-form {
  display: none;
  
}
#variable-form {
  background-color: #7777778e;
  padding: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

#variable-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#variable-form {
  display: flex;
  flex-direction: column;
}

#variable-form .form-group {
  margin-bottom: 16px;
}

#variable-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

#variable-form input[type="text"],
#variable-form textarea,
#variable-form select {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#chartPreview {
  width: 400px; /* Ancho fijo deseado */
  margin: 16px auto; /* Centrado horizontal y espacio superior e inferior */
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff; /* Fondo blanco para resaltar el gráfico */
}

/* Estilos para la tabla de variables */
.variable-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.variable-table th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.variable-table th,
.variable-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
}

.variable-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.variable-table tr:nth-child(odd) {
  background-color: #fff;
}

.variable-table tr:hover {
  background-color: #333;
  color: #fff;
}

/* Estilo para la tabla: Hover */
.variable-table tr:hover td {
  background-color: #333;
  color: #fff;
}

.variable-table-content {
  max-height: 600px; /* Establece la altura máxima que desees */
  overflow-y: auto; /* Activa la barra de desplazamiento vertical si es necesario */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado de la tabla (opcional) */
.variable-table-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.variable-table-header th {
  padding: 12px;
  border: 1px solid #ccc;
}

.variable-table-header th:last-child {
  border-right: none;
}

/* Estilos para el pie de la tabla (opcional) */
.variable-table-footer {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.variable-table-footer td {
  padding: 12px;
  border: 1px solid #ccc;
}

.variable-table-footer td:last-child {
  border-right: none;
}
.editar-variable-button {
  background-color: #3498db;
}
.eliminar-variable-button {
  background-color: #c51930;
}
.editar-variable-button:hover{
  background-color: #2980b9;
}
.eliminar-variable-button:hover {
  background-color: rgb(129, 13, 29);
}